<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Genesis Test</title>
    <link rel="icon" href="/assets/icon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<app></app>
<script type="text/javascript" src="/assets/vendor.min.js"></script>
<script type="text/javascript" src="/assets/app.min.js"></script>
</body>
</html>